<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            <form action="/login"  method="post" class="login" name="login">
                            <div class="form-outline form-white mb-4">
                                <input type="text" id="user_id" name="user_id" class="form-control form-control-lg" />
                                <label class="form-label" for="user_id">ユーザーID</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="user_pass" name="user_pass" class="form-control form-control-lg" />
                                <label class="form-label" for="user_pass">パスワード</label>
                            </div>
                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/passsw">パスワード変更?</a></p>
                            <button class="btn btn-outline-light btn-lg px-5" onclick="send()">Login</button>


                            </form>
                        </div>

                        <div>
                            <p class="mb-0">Don't have an account? <a href="/singup" class="text-white-50 fw-bold">Sign Up</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function send(){
        var user_id = document.getElementById("user_id").value;
        var user_pass = document.getElementById("user_pass").value;
        console.log(user_id);
        console.log(user_pass);
        if(user_id.equals("")){
            ('#user_id').focus();
            alert("IDを確認してください。")
            return
        }
        if(user_pass.equals("")){
            ('#user_pass').focus();
            alert("パスワードを確認してください。")
            return
        }
        login.submit();
    }
</script>
</body>
</html>