<!DOCTYPE html>
<style>
    .container{max-width:1170px; margin:auto;}
    img{ max-width:100%;}
    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%; border-right:1px solid #c4c4c4;
    }
    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }
    .top_spac{ margin: 20px 0 0;}


    .recent_heading {float: left; width:40%;}
    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
    }
    .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }
    .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }
    .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

    .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
    .chat_ib h5 span{ font-size:13px; float:right;}
    .chat_ib p{ font-size:14px; color:#989898; margin:auto}
    .chat_img {
        float: left;
        width: 11%;
    }
    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people{ overflow:hidden; clear:both;}
    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }
    .inbox_chat { height: 550px; overflow-y: scroll;}

    .active_chat{ background:#ebebeb;}

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }
    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }
    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }
    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }
    .received_withd_msg { width: 57%;}
    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 100%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0; color:#fff;
        padding: 5px 10px 5px 12px;
        width:100%;
    }
    .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
    .sent_msg {
        float: right;
        width: 46%;
    }
    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }
    .messaging { padding: 0 0 50px 0;}
    .msg_history {
        height: 516px;
        overflow-y: auto;
    }



</style>
<html lang="en" xmlns="">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src='../fullcalendar-6.1.8/dist/index.global.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>





    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top" >

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark">

        <!-- Sidebar - Brand -->

            <div>
                <img th:if="${base64Image}" th:src="'data:image/jpeg;base64,' + ${base64Image}" width="230" height="150">
                <img th:unless="${base64Image}" src="../img/user사진.jpg" width="230" height="150">
            </div>
            <button type="button" onclick="Logout()">ログアウト</button>


        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- login / join-->
        <th:block th:unless="${session.user}">
        <li class="nav-item active">
            <button type="button" onclick="singup()">회원가입</button>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
        </li>
        </th:block>

            <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>個人情報修正</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>



        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" >
                <i class="fas fa-fw fa-folder"></i>
                <span>参加しているグループ</span>
            </a>

        </li>

        <!-- Nav Item - Charts -->

        <div th:each = "teamname : ${team}">

            <input type="hidden" class="teamno" name="teamno"  th:value="${teamname.getTeamno()}">
            <input type="hidden" class="teamname" name="teamname"  th:value="${teamname.getTeamname()}">
            <input type="hidden" class="my_id" name="my_id"  th:value="${my_id}">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="teamwork(this)">

                <span th:text="${teamname.getTeamname()}"></span></a>

            </li>
        </div>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" onclick="gaddition()">グループ追加</button>
        </div>



    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <button type="button" onclick="teamout()">出る</button>
            </nav>

            <!-- End of Topbar -->
            <input type="hidden" id="my_id2" name="my_id2" th:value="${my_id}">
            <input type="hidden" id="user_nikname" name="user_nikname" th:value="${user.getNikname()}">
            <input type="hidden" id="teamno2" name="teamno2" th:value="${teamno}">
            <!-- Begin Page Content -->
            <div class="container-fluid">



                <!-- Page Heading -->
                <div class="container min-vh-100 justify-content-center">
                    <div id='calendar'>
                       </div>

                    <div id="workti">
                        <h1 th:text="${myteam.getTeamname()}">グループ名</h1>
                        <h1 th:text="${fulldate}+ '業務開始日'"></h1>
                        <input type="hidden" name="syday" id="syday" th:value="${fulldate}">
                        <div th:each="workday, iterStat : ${work}">


                            <div style="display: flex;">
                                <div style="margin-right: 10px;">
                                    <input class="work_user" type="hidden" name="work_user" th:id="'work_user_' + ${iterStat.count}" th:value="${workday.getUser_id()}">
                                    <input class="work_titel" type="hidden" name="work_titel" th:id="'work_titel_' + ${iterStat.count}" th:value="${workday.getWork()}">
                                    <div th:text="${workday.getNikname()} + ':' + ${workday.getWork()}" ></div>
                                    <div class="progress">
                                        <div th:id="'bar_' + ${iterStat.count}" class="progress-bar" role="progressbar"  th:style="'width: ' + ${workday.getComplete()}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <select th:id="'select_' + ${iterStat.count}" th:attr="data-id=${iterStat.count}" onchange="changeProgressBar(this)">
                                        <option value="0%" th:selected="${workday.getComplete() == '0%'}">0%</option>
                                        <option value="30%" th:selected="${workday.getComplete() == '30%'}">30%</option>
                                        <option value="50%" th:selected="${workday.getComplete() == '50%'}">50%</option>
                                        <option value="70%" th:selected="${workday.getComplete() == '70%'}">70%</option>
                                        <option value="100%" th:selected="${workday.getComplete() == '100%'}">100%</option>
                                    </select>
                                    <button onclick="workdle(this)">日程削除</button>
                                </div>
                            </div>
                        </div>
                        <div class="messaging">
                            <div class="inbox_msg">

                                <div class="mesgs">
                                    <div class="msg_history" id="msg_history">
                                        <div th:each="chat : ${memberchat}">
                                            <div class="incoming_msg" th:if="${chat.getUser_id() != my_id}">
                                                <div class="received_msg">
                                                    <div class="received_withd_msg" id="chatTable">
                                                        <span class="user_nikname" th:text="${chat.nikname}"></span> <!-- 닉네임 추가 -->
                                                        <p th:text="${chat.content}"></p>
                                                        <span class="time_date" th:text="${chat.c_date}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="outgoing_msg" th:if="${chat.getUser_id() == my_id}">
                                                <div class="sent_msg">
                                                    <p th:text="${chat.getContent()}"></p>
                                                    <span class="time_date" th:text="${chat.getC_date()}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="type_msg" >
                                        <div class="input_msg_write">
                                            <input type="text" id="inputMsg" class="write_msg" placeholder="Type a message" />
                                            <button class="msg_send_btn" id="butsub" type="button" onclick="send()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    </div>


                </div>
                <!-- modal 추가 -->
                <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">日程を入力してください。</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>


                            <div class="modal-body">
                                <div class="form-group" id="form-group">
                                    <div>
                                    <label >メンバーリスト</label>
                                    <select name="memberlist" id="memberlist" >
                                    </select>
                                    </div>
                                    <label  class="col-form-label">業務内容</label>
                                    <input type="text" class="form-control" id="calendar_content" name="calendar_content">
                                    <label  class="col-form-label">Start</label>
                                    <input type="date" class="form-control" id="calendar_start_date" name="calendar_start_date">
                                    <label  class="col-form-label">End</label>
                                    <input type="date" class="form-control" id="calendar_end_date" name="calendar_end_date">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" id="addCalendar">追加</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        id="sprintSettingModalClose">キャンセル</button>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">

        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>


<script>
    var msgHistory = document.getElementById('msg_history');//스크롤 생길시 맨아래로
    msgHistory.scrollTop = msgHistory.scrollHeight;
    function teamout(){
        var user_id = document.getElementById('my_id2').value;
        var teamno = document.getElementById('teamno2').value;

        let data = JSON.stringify({ // 메시지와 아이디, 시간 정보
            user_id: user_id,
            teamno: teamno,
        });

        $.ajax({
            type: 'POST',
            url: '/teamdle',
            contentType: 'application/json',
            data: data,
            success: function(response) {

                var user_id = response.user_id;
                var user_pass = response.user_pass;

                window.location.href = "/login?id="+user_id;
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });

    }

    function workdle(button){
        var teamno2 = document.getElementById('teamno2').value;
        var parentDiv = button.parentElement; // 버튼의 부모 요소 (div)로 이동
        var workUserId = parentDiv.querySelector('[name^="work_user"]').value;
        var workTitel = parentDiv.querySelector('[name^="work_titel"]').value;
        var day = document.getElementById('syday').value;
        var id = document.getElementById('my_id2').value;
        console.log("workUserId=" + workUserId)
        console.log("workTitel=" + workTitel)

        let data = JSON.stringify({
            id: workUserId,
            work: workTitel,
            temano: teamno2,
            workday: day
        });

        $.ajax({
            type: 'POST',
            url: '/workdel',
            contentType: 'application/json',
            data: data,
            success: function(response) {
                console.log(response);
                // 성공했을 때 다른 URL로 이동
                window.location.href = '/login?id='+id;

            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    }
    function changeProgressBar(select) {
        var teamno2 = document.getElementById('teamno2').value;
        var day = document.getElementById('syday').value;

        // work_user 값 가져오기
        var workUserId = document.getElementById('work_user_' + select.getAttribute('data-id')).value;

        // work_titel 값 가져오기
        var workTitel = document.getElementById('work_titel_' + select.getAttribute('data-id')).value;


        var workdayId = select.getAttribute('data-id');
        var selectedValue = select.value; // 퍼센트값
        var progressBar = document.getElementById('bar_' + workdayId);
        progressBar.style.width = selectedValue;
        progressBar.setAttribute('aria-valuenow', selectedValue.replace('%', ''));

        let data = JSON.stringify({ // 메시지와 아이디, 시간 정보
            id: workUserId,
            work: workTitel,
            temano: teamno2,
            workday: day,
            selectedValue : selectedValue
        });

        $.ajax({
            type: 'POST',
            url: '/complete',
            contentType: 'application/json',
            data: data,
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });





    }
    function gaddition(){

        var gpop = "width=650px, height=550px, top=300, left=300, scrollbars=yes";
        var gpopUrl = "/gpop"
        window.open(gpopUrl, 'pop', gpop);
    }

    function Logout(){
        location.href="/logout";
    }
    function teamwork(item) {
        var teamname = $(item).closest('div').find('.teamname').val();
        var teamno = $(item).closest('div').find('.teamno').val();
        document.getElementById('workti').innerHTML = '';
        $.ajax({
            url: "/newcalendar",
            type: "POST",
            data: JSON.stringify({ teamname: teamname, teamno: teamno }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var memberlist = data.memberlist;
                var memberwork = data.memberwork;
                console.log(memberlist);
                console.log(memberwork);
                var memberselect = document.getElementById('memberlist');
                memberselect.innerHTML = '';
                var teamno;
                var user_id;
                memberlist.forEach(function(member) {
                    var option = document.createElement('option');
                    option.value = member.nikname;
                    option.textContent = member.nikname;
                    memberselect.appendChild(option);
                    teamno = member.teamno;
                    user_id = member.user_id;
                });

                var events = memberwork.map(function(work) {
                    return {
                        title: work.work,
                        start: work.start_date,
                        end: work.end_date
                    };
                });


                    // FullCalendar의 이벤트 업데이트 부분
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    headerToolbar: {
                        locale: "jp",
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth'
                    },
                    navLinks: true,
                    businessHours: true,
                    editable: true,
                    selectable: true,

                    events: events,
                    eventClick:  function(info) {
                        var clickedStartDate = info.event.start;
                        console.log(clickedStartDate);
                        var day = clickedStartDate.getDate().toString().padStart(2, '0');
                        var month = (clickedStartDate.getMonth() + 1).toString().padStart(2, '0');
                        var year = (clickedStartDate.getFullYear() % 100).toString().padStart(2, '0');
                        var my_id = $(item).closest('div').find('.my_id').val();
                        var formattedDate = year + '/' + month + '/' + day;

                        // 여기에서 다른 창으로 이동하는 코드를 작성
                        // 예를 들어, 이벤트 ID를 파라미터로 다른 페이지로 이동
                        window.location.href = "/teamindex?Startdate=" + formattedDate + "&teamno=" + teamno + "&my_id=" + my_id;
                        // ...
                    }
                    ,

                    headerToolbar: {
                        center: 'addEventButton' // headerToolbar에 버튼을 추가
                    }, customButtons: {
                        addEventButton: { // 추가한 버튼 설정
                            text : "日程追加",  // 버튼 내용
                            click : function(){ // 버튼 클릭 시 이벤트 추가
                                $("#calendarModal").modal("show"); // modal 나타내기

                                $("#addCalendar").on("click",function(){  // modal의 추가 버튼 클릭 시
                                    var content = $("#calendar_content").val();
                                    var start_date = $("#calendar_start_date").val();
                                    var end_date = $("#calendar_end_date").val();
                                    var member = $("#memberlist").val();

                                    //내용 입력 여부 확인
                                    if(content == null || content == ""){
                                        alert("内容を入力してください。");
                                    }else if(start_date == "" || end_date ==""){
                                        alert("日を入力してください。");
                                    }else if(new Date(end_date)- new Date(start_date) < 0){ // date 타입으로 변경 후 확인
                                        alert("EndがStartより前です。");
                                    }else{ // 정상적인 입력 시
                                        var obj = {
                                            "member" : member,
                                            "title" : content,
                                            "start" : start_date,
                                            "end" : end_date,
                                            "teamno" : teamno,
                                            "user_id" : user_id
                                        }//전송할 객체 생성


                                        addEventToServer(obj)
                                    }
                                });
                            }
                        }
                    },
                    editable: true, // false로 변경 시 draggable 작동 x
                    displayEventTime: false // 시간 표시 x

                });

                calendar.render();
            }
        });
    }

    function addEventToServer(obj) {
        $.ajax({
            url: "/workinsert",
            type: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (response) {
                console.log("이벤트 추가 성공");

                $("#calendar_content").val("");
                $("#calendar_start_date").val("");
                $("#calendar_end_date").val("");

                $("#calendarModal").modal("hide")
            },
            error: function (error) {
                console.error("이벤트 추가 실패:", error);
            }
        });

    }

    // url에서 파라미터 부분 지우기
    history.replaceState({}, null, location.pathname);

    // 엔터키 누르면 전송 버튼 클릭
    document.querySelector('#inputMsg').addEventListener('keypress', function (e){
        if (e.key === 'Enter') {
            $('#butsub').click();
        }
    });

    const websocketUrl = "ws://localhost:8081/ws/teamindex";

    let websocket;

    function connectWebSocket() {
        if (websocket && (websocket.readyState === WebSocket.OPEN || websocket.readyState === WebSocket.CONNECTING)) {
            console.log('WebSocket is already open or connecting.');
            return;
        }

        websocket = new WebSocket(websocketUrl);
        websocket.onmessage = onMessage;
        //websocket.onopen = onOpen;
        //websocket.onclose = onClose;
    }

    // WebSocket 연결 시도
    connectWebSocket();

    function onClose() {
        console.log('WebSocket closed. Reconnecting...');
        connectWebSocket(); // 연결이 닫히면 다시 연결 시도
    }

    // <input type="hidden" th:name="id" th:value="${id}" id="id"/>
    var id = document.getElementById('my_id2').value;
    var nikname = document.getElementById('user_nikname').value;
    console.log(id.value)
    function send() {
        let msg = document.getElementById("inputMsg").value; // 입력한 메시지
        var teamno2 = document.getElementById('teamno2').value;
        let data = JSON.stringify({ // 메시지와 아이디, 시간 정보
            id: id,
            nikname: nikname,
            msg: msg,
            timestamp: getTimeStamp(),
            teamno: teamno2
        });
        websocket.send(data);
        let msg2 = document.getElementById("inputMsg"); // 입력한 메시지
        msg2.value = ''; // 입력 필드의 값을 빈 문자열로 설정
        $.ajax({
            type: 'POST',
            url: '/teamchatdb',
            contentType: 'application/json',
            data: data,
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    }
    //현재 날짜
    function getDate() {
        var now = new Date();
        var year = now.getFullYear();
        var month = ('0' + (now.getMonth() + 1)).slice(-2);
        var day = ('0' + now.getDate()).slice(-2);
        return year + '-' + month  + '-' + day;
    }
    //현재시간
    function getTimeStamp() {
        var now = new Date();
        var hours = ('0' + now.getHours()).slice(-2);
        var minutes = ('0' + now.getMinutes()).slice(-2);
        var seconds = ('0' + now.getSeconds()).slice(-2);
        return getDate() + ' ' + hours + ':' + minutes  + ':' + seconds;
    }

    function onMessage(data) {
        let msg = JSON.parse(data.data);
        console.log("id=" +id)
        if (msg != null) {
            if (msg['id'] != id) { // 상대가 보낸 메시지
                $('#msg_history').append(
                    $('<div />').addClass('received_msg').append(
                        $('<div />').addClass('received_withd_msg').append(
                            $('<span />').addClass('user_nikname').text(msg['nikname']), // 상대방 ID 추가
                            $('<p />').text(msg['msg']),
                            $('<span />').addClass('time_date').text(msg['timestamp'])
                        )
                    )
                );
            } else { // 본인이 보낸 메시지
                $('#msg_history').append(
                    $('<div />').addClass('outgoing_msg').append(
                        $('<div />').addClass('sent_msg').append(
                            $('<p />').text(msg['msg']),
                            $('<span />').addClass('time_date').text(msg['timestamp'])
                        )
                    )
                );
            }
        }
        msgHistory.scrollTop = msgHistory.scrollHeight; //스크롤 맨 아래로
    }
</script>
<style>
    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }
</style>
</body>


</html>